<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="container home">
      <h2>OOPS! There is nothings to show</h2>
      <br />
      <br />
      <br />
      <div class="top-btn-group">
        <a href="/create">Create a poll</a>
        <a href="/polls">Poll list</a>
      </div>
    </div>
  </body>
</html>
