<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Polls</title>
    <link rel="stylesheet" href="./style.css" />
    </style>
  </head>
  <body>
    <div class="container">
      <div class="btn-group">
        <a href="/" class="btn btn-info">Home</a>
        <a href="/create"  class="btn btn-primary">Create</a>
      </div>
      <h2>Polls</h2>
      <br />
    <ul>
      <% for (const p of polls) { %>
        <li>
        <strong><a href="polls/<%= p._id %>"><%= p.title %></a></strong>
        <span><%= p.totalVote %></span>
      </li>
      <% } %>
    </ul>
    </div>
  </body>
</html>
