<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buy Ticket</title>
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://kit.fontawesome.com/a9488ab298.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container create">
      <div class="btn-group">
        <a href="/" class="btn btn-info"
          ><i class="fa-solid fa-house"></i> Home</a
        >
        <a href="/tickets" class="btn btn-primary"
          ><i class="fa-solid fa-table-list"></i> Ticket list</a
        >
      </div>
      <h2>Buy Ticket</h2>
      <form action="/tickets/buy" method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            placeholder="babul"
            name="username"
            id="username"
          />
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="text" name="price" placeholder="20" id="price" />
        </div>
        <div class="form-group">
          <label for="quantity">Ticket Quantity</label>
          <input name="quantity" placeholder="5" id="quantity" />
        </div>
        <br />
        <div style="text-align: right">
          <button class="btn btn-primary" type="submit">
            <i class="fa-solid fa-bag-shopping"></i> Buy
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
