<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Winners</title>
  </head>
  <body>
    <h2>Winners</h2>
    <ul>
      <% for (const winner of winners) { %>
      <li>
        <p><%= winner.id %></p>
        <p><%= winner.username %></p>
        <p><%= winner.price %></p>
      </li>
      <% } %>
    </ul>
  </body>
</html>
